p = I18n.t('mailer.articles.view.your_article_is', email: @article.user.email, status: @article.status )
- if @article.status == 'posted'
  a href="#{ENV['APP_PATH']}/articles/show/#{@article.id}"
    = I18n.t('mailer.articles.view.go_to_the_link' )
- elsif @article.status == 'blocked'
  p = I18n.t('mailer.articles.view.regected_article' )
