p = I18n.t('mailer.articles.view.deleted_article', email: @article.user.email)
table
  tr
    th #
    td = @article.id
  tr
    th = I18n.t('inputs.title')
    td = @article.title
  tr
    th = I18n.t('inputs.body')
    td = raw @article.body
  tr
    th = I18n.t('inputs.category')
    td = @article.category.name
  tr
    th = I18n.t('inputs.posted_date')
    td = @article.created_at
  tr
    th = I18n.t('inputs.status')
    td = @article.status
